DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=resort_user2
DB_PASSWORD=ResortUser!123   # atau password saat pertama kali buat user
DB_NAME=resort


MIDTRANS_BASE_URL_SANDBOX=https://api.sandbox.midtrans.com
MIDTRANS_CLIENT_KEY_SANDBOX=SB-Mid-client-eBHHKYUtxsSt2Oil
MIDTRANS_SERVER_KEY_SANDBOX=REDACTED

MIDTRANS_BASE_URL_PRODUCTION=https://api.midtrans.com
MIDTRANS_CLIENT_KEY_PRODUCTION=Mid-client-nj5lIkVyYbr3xlQO
MIDTRANS_SERVER_KEY_PRODUCTION=REDACTED
JWT_SECRET=changeme-dev-secret

# Switch to production endpoints/keys
MIDTRANS_IS_PRODUCTION=faLse
SUPERADMIN_EMAIL='admin@reflow.com'
SUPERADMIN_PASSWORD='Reflow2025@'

# CORS configuration
 CORS_ORIGINS=http://localhost:3000,https://your-ngrok-url.ngrok-free.app
 CORS_ALLOW_ALL=1


# OMNI API (optional, for backend devices/unlock)

OMNI_BASE_URL=https://api.gridwizapp.com

OMNI_DEVELOPER_ID=1950436387868418049

OMNI_DEVELOPER_SECRET=350c43bb01fe4319b328b6fb62c0972a

# Gemini insights (optional)
GEMINI_API_KEY=AIzaSyBtykH1AOGxSFtFEoXhrbKpvAxic2ntbmQ
GEMINI_MODEL=gemini-2.5-flash


